body {
	margin: 0 20px;
	padding: 0;
	font: 12px "Trebuchet MS", "Lucida Sans unicode", Arial, Helvetica, sans-serif, courier;
	line-height: 1.5;
	color: #1b2431;
}

a { color: #f09;}
a:hover { color: #000; }

h1
{
    color: #f09;
    width: 350px;
    text-align: center;
}

.info
{
    width: 350px;
    border-bottom: 3px solid #AAA;
}

.name
{
    width: 331px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
    border-left: 4px solid #1b2431;
    text-decoration: underline;
    cursor: pointer;
}

.name_hover
{
    background: #ffd1df;
}

.track
{
    clear: both;
    border-top: 1px solid #CCC;
    padding: 3px;
}

.title
{
    font-weight: bold;
}

.artist
{
    display: block;
}

.album
{
    font-size: 11px;
    font-style: italic;
}

.url
{
    float: right;
}
